#parents {
    position: relative;
    width: auto;
    height: 150;
}

[role="tabpanel"]{
    position: absolute;
    opacity: 0;
}

.actif[role="tabpanel"]{
    opacity: 1;
}

.actif{
    background-color: #eee;
}


